@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
    height: 100vh;
}

/* header implementation */

.hContainer {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
}

.company-logo {
    /* width: 35%; */
    padding-top: 20px;
}

/* nav bar */

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.navBar li {
    display: inline-block;
    padding: 0 8px;
}

/* .navBar li:first-child {
    background-image: url(../images/Menu-hover.png);
    background-repeat: no-repeat;
    padding-top: 20px;
    background-position: center;
    background-position-y: top; 
} */

.navBar a {
    text-decoration: none;
    font-size: 16px;
    padding: 4px;
}


.navBar a:any-link,
a:visited {
    color: #1b4a75;
}

/* adding img above each element when selected */
.navBar a:focus {
    background-image: url(../images/Menu-hover.png);
    background-repeat: no-repeat;
    padding-top: 20px;
    background-position: center;
    background-position-y: top;
    color: #1b4a75;
    font-weight: bold;
}


/* ////////// END OF NAV BAR ////////// */

/* Slide Show */

.slideContainer {
    max-width: 100%;
    /* background-color: red; */
    margin: 40px auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 62.5%;
    position: relative;
}

.slideContainer img {
    max-height: 600px;

}

.slideContainer::before {
    content: url("../images/SlideLeft.png");
    top: 0;
    left: -19.5%;
    position: absolute;
    height: 600px;
}

.slideContainer::after {
    content: url("../images/Slide right.png");
    position: absolute;
    top: 0;
    right: -22.5%;
    z-index: 2;
    height: 600px;
}

.paragraphs {
    color: #386186;
    font-weight: bolder;
    /* margin: 20px 0 20px 0; */
    margin-top: 20px;
    position: relative;
    padding: 25px;
    width: 570px;
    /* background-color: red; */
}

.paragraphs p:first-child {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 5px;
}

.paragraphs p:last-child {
    position: absolute;
    right: 0;
    text-align: end;
}

/* ///////// END OF SLIDE SHOW ////////////// */

/* INFO PAGE */

.info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.inerBox>* {
    padding: 10px;
}

.inerBox {
    padding: 20px;
    background-color: rgb(190, 194, 199);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.inerBox p:first-child {
    font-size: xx-large;
}

.inerBox p:nth-child(3) {
    max-width: 35%;
    text-align: center;
    color: rgba(97, 85, 85, 0.95);
}

.box {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
    padding: 50px 0;
    position: relative;
}


.box img {
    width: 50%;
    /* width: calc(50% + 100px); */
    /* width: 700px; */
    position: relative;
    left: -100px;
}

.box p {
    padding: 0px 20px;
    max-width: 50%;
}

.info::after {
    content: url("../images/Icon bottom.png");
}

/* PRODUCTS */

.products {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: aqua; */
}

.products>* {
    padding: 8px;
}

.products h3 {
    margin: 10px;
}

.cardsBox {
    /* background-color: red; */
    width: 66%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardsBox div {
    max-width: fit-content;
    margin: 0px 10px;
    text-align: center;
}

.card {
    border: 1px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card h4 {
    padding: 30px 0px;
    font-size: 1.5rem;
}

.card p {
    padding-bottom: 25px;
    font-size: 1.1rem;
}

.projects {
    position: relative;
    background-color: rgb(0, 173, 238);
    margin-top: 40px;
    padding: 35px 0px;
    width: 100%;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(4, 1fr);
}

.projects .photo img {
    width: 100%;
    object-fit: cover;
}

.projects::before {
    content: '';
    background-color: rgb(32, 73, 116);
    height: 30px;
    width: 80%;
    position: absolute;
    top: -30px;
    right: 0;
    z-index: 2;
}

.projects::after {
    content: '';
    background-color: rgb(32, 73, 116);
    height: 30px;
    width: 80%;
    position: absolute;
    bottom: -30px;
    left: 0px;
    z-index: 2;
}


.paragraphs2 {
    color: #386186;
    font-weight: bolder;
    margin-top: 20px;
    margin-bottom: 25px;
    position: relative;
    padding-top: 25px;
    width: 855px;
}

.paragraphs2 p:first-child {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 5px;
}

.paragraphs2 p:nth-child(2) {
    position: absolute;
    right: 0;
    text-align: right;
}

/* Footer details */

.detailsContainer {
    /* background-color: red; */
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.details-Ul {
    /* background-color: red; */
    width: 50%;
}

.details-Ul li {
    list-style: none;
    padding: 8px;
}

.detailsImg {
    /* background-color: green; */
    width: 50%;
    display: flex;
    justify-content: end;
    align-items: flex-end;
}

.detailsImg img {
    padding-right: 25px;
    object-fit: scale-down;
    align-self: center;
}
